<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/administracao.css">
        <link rel="stylesheet" 
            href="{{ url_for('static', filename="css/administracao.css") }}">
        <title>ADM</title>
    </head>

    <body>
        <header>
            <div class="container_header">
                <div class="main_menu">
                    <nav>
                        <ul>
                            <li>
                                <button class="menu_button"> Caixa </button>
                            </li>

                            <li>
                                <button class="menu_button"> Cardapio </button>
                            </li> 
                        </ul>
                    </nav>
                </div>

                <div class="lista_pedidos">
                    <table>
                        <tr>
                            <th>Notificação</th>
                            <th>Mesa</th>
                        </tr>
                        <tr>
                            <td>Garçon</td>
                            <td>2</td>
                        </tr>
                    </table> 
                </div>
            </div>
        </header>

        <main>
            <div class="container_main">
            </div>
        </main>
    </body>

</html>