<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <figure>
            <img src="" alt="Logo do restaurante com a palavra cardapio embaixo">
        </figure>
    </header>

    <main>
        <form>
            <div class="card-menu-container">
                <div class="header-card">
                    <label>nome_prato</label>
                    <label>preço</label>
                    <input type="radio" name="selected-card" value="">
                </div>
                <div class="text_card">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Aliquid nemo iusto sint veritatis amet beatae? Nihil 
                        voluptatibus voluptatem quasi, error fuga molestiae nesciunt 
                        quidem! Aliquam blanditiis dolorum odio porro officia!
                    </p>
                </div>
            </div>
            <button type="submit">Fazer Pedido</button>
        </form>
    </main>
</body>
</html>