<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/webcardapio.css">
        <title>Cardápio</title>
    </head>

    <body>
        <header>
            <div class="container_header">
                <h1> LOGO_MENU </h1>
            </div>
        </header>

        <main>
            <div class="container_main">
                <div class="card_refeicao">
                    <div class="top_card"> 
                        <p class="nome"> nome_refeicao </p>
                        <p class="preco"> preco_refeicao </p>
                    </div>
                    <p class="ingredientes"> ingredientes_refeicao </p>
                </div>
            </div>
        </main>

        <footer>
            <div class="container_footer">
                <h5> LOGO_MENU </h5>
                <form method="POST">
                    <button class="call" name="call" value="call"> Chamar Garçom</button>
                </form>
            </div>
        </footer>
    </body>

</html>