<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Pedidos</h1>
    </header>

    <main>
        <form action="">
            <button type="reset"><!--return icon--></button>

            <div class="card-requests-container">
                <div class="header-card">
                    <label for="nome_prato">nome_prato</label>
                </div>
                
                <div>
                    <button><!--sub icon--></button>
                    <button><!--add icon--></button>
                    <label><!--counter flask--></label>
                    <label for="preco_prato">R$ 0000,00</label>
                </div>

                <button type="submit">Confirmar</button>
            </div>
        </form>
    </main>
</body>
</html>